<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FacturaApp</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a class="navbar-item" href="https://bulma.io">
            
                <h1 class="title is-4">FacturaApp</h1>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

                @Html.ActionLink("Categoria", "Index", "Categoria", null, new { @class = "navbar-item" })
                @Html.ActionLink("Producto", "Index", "Producto", null, new { @class = "navbar-item" })
                @Html.ActionLink("Cliente", "Index", "Cliente", null, new { @class = "navbar-item" })
                @Html.ActionLink("Hacer Venta", "Index", "Factura", null, new { @class = "navbar-item" })       
            </div>

        </div>
    </nav>

    <div class="container is-desktop">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Julio Sánchez</p>
        </footer>
    </div>
 
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
