@using FacturaApp.Models.ViewModel
@model List<CategoriaViewModel>
@{
    ViewBag.Title = "Index";
}

<h2 class="is-size-3 ml-4">Categoria</h2>

<a class="button is-primary ml-4 mb-4" href="@Url.Content("~/Categoria/New")">Nueva Categoria</a>

<table class="table is-fullwidth">
   <thead>
       <tr>
           <th>ID</th>
           <th>Nombre</th>
           <th>Acciones</th>
       </tr>
   </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.ID</th>
                <td>@item.Descripcion</td>
                <td>
                    <button 
                            class="button is-success"
                            onclick="document.location.href='@Url.Content("~/Categoria/Edit/?Id=" + item.ID)'">Editar
                    </button>
                    <button 
                            class="button is-danger"
                            onclick="eliminarCate(@item.ID)">Eliminar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>


    //Eliminar
    let URLDELETE = "@Url.Content("~/Categoria/Detele")";

    let eliminarCate = (id) => {

        fetch(URLDELETE, {
            method: "POST",
            body: JSON.stringify({

                ID: id

            }),
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
        }).then((resp) => {
            if (resp.ok)
                resp.text();
            else
                alert("Error al ejecutar :(");
        }).then((data) => {
          
               document.location.href = "@Url.Content("~/Categoria/")";
          
        }).catch(error => {
            console.log(error);
        })

    }

</script>